.modal-main {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    width: 100%;
    min-height: 20px;
    max-height: 90%;
    max-width: 900px;
    margin: 0 30px;
    padding: 30px;
    border-radius: 5px;
    overflow-y: scroll;

    

    h2 {
        color: var(--primary-text-color);
        font-size: 1.5em;
        padding: 2px;
        padding-bottom: 15px;
        white-space: nowrap;
    }

    p {
        color: var(--primary-text-color);
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding: 2px;
        margin-bottom: 5px;
    
    }

    .button-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.ReactModal {
    background-color: red;


    &__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    


    &__Content {
        position: relative;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        width: 80%;
        max-width: 800px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}}
