@import '../../ComponentsStyle/ComponentsVariables.scss';


.chat-input-container {
    background-color: var(--secondary-background-color);
    width: 100%;
    padding: 20px;

    .chat-input-element-container {
        position: relative;
        background-color: var(--secondary-background-color);
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: auto;

        .language-container {
            position: absolute;
            right: 70px;
            text-align: center;

            .language-btn,
            .language-label {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.7em;
                width: 75%;
                border: none;
                border-radius: 10px;

            }


            .language-btn {



                &:checked+.language-label {
                    background-color: var(--primary-background-color);

                }

                &:not(:checked)+.language-label {
                    background-color: var(--primary-background-color);

                    &:hover {
                        background-color: var(--primary-background-color-hover);
                    }

                    &:active {
                        background-color: black;
                    }
                }
            }

        }

        button {
            background-color: var(--primary-background-color);
            color: var(--primary-text-color);
            padding: 10px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary-background-color-hover);
            }

            &:focus {
                outline: none;
            }

            &:active {
                background-color: var(--primary-background-color-hover)
            }
        }



        .chat-input {

            flex-grow: 1;
            background-color: var(--secondary-background-color);
            width: 10%;
            padding: 10px;
            border-radius: 15px;
            border: 1px solid var(--secondary-background-color-hover);
            margin-right: 10px;
            color: var(--primary-text-color);


            &:focus {
                outline: none;
            }


        }
    }
}